@model PersonelMVC.Models.EntityFramework.Departman
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni</h2>
@using (Html.BeginForm("Kaydet", "Departman", FormMethod.Post)) 
{ 
    <div class="form-group">
        @Html.LabelFor(mbox=>mbox.Ad)
        @Html.TextBoxFor(m=>m.Ad,new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m=>m.ID)

    <button type="submit" class="btn btn-success">Kaydet</button>
}
